.table1,td,th,tr{
    border: solid 1px black;
    border-collapse: collapse;
    padding: 10px;
    margin :0 auto;
}
.one{
    color:rgb(224, 143, 21);
    background-color: bisque;
}
.two{
    color:yellow;
    background-color: pink;
}
.three{
    color:rgb(224, 143, 21);
    background-color: bisque;
}
.four{
    color:yellow;
    background-color: pink;
}